body {
  font-family: Arial, sans-serif;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
  justify-content: center;
  max-width: 800px; /* Agar tidak terlalu lebar */
  margin: 0 auto; /* Posisikan di tengah */
}


.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.note {
  transition: transform 0.2s, box-shadow 0.2s;
}

.note:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
